* {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  margin: 0 auto; 
  font-family: 'Inconsolata', monospace;
  /*overflow: hidden;*/
}




body {
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  place-items: center center;
  margin: 0 auto; 
}


img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 6px;
  right: 6px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
}


#rio_v1{
  position: absolute;
  padding: 1%;
  left: 15%;
  max-width: 25%;
  top: 28%;
  right: auto;
  z-index: 100;
}

#rio_i0{
  position: absolute;
  padding: 1%;
  left: 56%;
  max-width: 24%;
  top: 50%;
  right: auto;
  z-index: 100;
}

#rio_t1{
  font-size: 0.5vw;
  color: white;
  background-color: black;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 0.3%;
  left:16%;
  max-width: 40%;
  top: 70%;
  right: auto;
}

#rio_i2_1{
  position: absolute;
  padding: 1%;
  left: 40%;
  max-width: 90%;
  top: 130%;
  right: auto;
  z-index: 100;
}

#rio_i2_2{
  position: absolute;
  padding: 1%;
  left: 2%;
  max-width: 40%;
  top: 180%;
  right: auto;
  z-index: 100;
}

#rio_i2_3{
  position: absolute;
  padding: 1%;
  left: 60%;
  max-width: 36%;
  top: 180%;
  right: auto;
  z-index: 100;
}

#rio_i2_4{
  position: absolute;
  padding: 1%;
  left: 14%;
  max-width: 32%;
  top: 140%;
  right: auto;
  z-index: 100;
}



#rio_t2{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:50%;
  max-width: 26%;
  top: 160%;
  right: auto;
  z-index: 999;
}

#rio_i3_1{
  position: absolute;
  padding: 1%;
  left: 14%;
  max-width: 50%;
  top: 280%;
  right: auto;
  z-index: 100;
}



#rio_t3{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:44%;
  max-width: 40%;
  top: 270%;
  right: auto;
  z-index: 999;
}

#rio_i4_1{
  position: absolute;
  padding: 1%;
  left: 8%;
  max-width: 56%;
  top: 380%;
  right: auto;
  z-index: 100;
}



#rio_t4{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:44%;
  max-width: 40%;
  top: 400%;
  right: auto;
  z-index: 999;
}


#rio_i5_1{
  position: absolute;
  padding: 1%;
  left: 40%;
  max-width: 80%;
  top: 520%;
  right: auto;
  z-index: 110;
}

#rio_i5_2{
  position: absolute;
  padding: 1%;
  left: 2%;
  max-width: 60%;
  top: 550%;
  right: auto;
  z-index: 100;
}

#rio_i5_3{
  position: absolute;
  padding: 1%;
  left: 10%;
  max-width: 40%;
  top: 530%;
  right: auto;
  z-index: 120;
}

#rio_i5_4{
  position: absolute;
  padding: 1%;
  left: 40%;
  max-width: 40%;
  top: 575%;
  right: auto;
  z-index: 140;
}


