* {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  margin: 0 auto; 
  font-family: 'Inconsolata', monospace;
  /*overflow: hidden;*/
}




body {
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  place-items: center center;
  margin: 0 auto; 
}


img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 6px;
  right: 6px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
}

#familia_i0{
  position: absolute;
  padding: 1%;
  left: 56%;
  max-width: 24%;
  top: 6%;
  right: auto;
  z-index: 100;
}

#familia_i1{
  position: absolute;
  padding: 1%;
  left: 10%;
  max-width: 38%;
  top: 10%;
  right: auto;
  z-index: 100;
}

#familia_t1{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:56%;
  max-width: 32%;
  top: 28%;
  right: auto;
}


#familia_i2{
  position: absolute;
  padding: 1%;
  left: 6%;
  max-width: 60%;
  top: 140%;
  right: auto;
  z-index: 100;
}

#familia_t2{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:56%;
  max-width: 32%;
  top: 130%;
  right: auto;
  z-index: 200;
}

#familia_t3_1{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:2%;
  max-width: 32%;
  top: 290%;
  right: auto;
}

#familia_t3_2{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:62%;
  max-width: 32%;
  top: 310%;
  right: auto;
}

#familia_t4{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:58%;
  max-width: 32%;
  top: 440%;
  right: auto;
}


#familia_i5{
  position: absolute;
  padding: 1%;
  left: 16%;
  max-width: 70%;
  top:560%;
  right: auto;
  z-index: 100;
}


#familia_t6{
  font-size: 0.7vw;
  color: black;
  background-color: white;
  text-align: left;
  line-height: 1.3;
  position: absolute;
  padding: 2%;
  left:36%;
  max-width: 40%;
  top: 690%;
  right: auto;
}