* {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  margin: 0 auto; 
  font-family: 'Inconsolata', monospace;
  /*overflow: hidden;*/
}



body {
  background-color: black;
  background-size: contain;
  background-image: url("../assets/Bibliografía.png"); /* The image used */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  place-items: center center;
  margin: 0 auto; 
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 6px;
  right: 6px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
}


#text_i0{
  position: absolute;
  padding: 1%;
  left: 24%;
  max-width: 60%;
  top: 7%;
  right: auto;
  z-index: 100;
}


#T1{
  position: absolute;
  top: 30%;
  left: 10%;
  display: block;
}


#T2{
  position: absolute;
  top: 30%;
  left: 40%;
  display: block;
}


#T3{
  position: absolute;
  top: 30%;
  left: 70%;
  display: block;
}


#T4{
  position: absolute;
  top: 110%;
  left: 10%;
  display: block;
}


#T5{
  position: absolute;
  top: 110%;
  left: 40%;
  display: block;
}


#T6{
  position: absolute;
  top: 110%;
  left: 70%;
  display: block;
}
